.light{
  display: inline-block;
  height: 70px;
  width: 70px;
  border: 1px solid black ;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: black;
}
  
.dark{
  display: inline-block;
  border: 2px solid red ;
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
}